<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our address</title>
    <style>
        #map {
            width: 100%;
            height: 500px;
            border: 0;
        }
    </style>
</head>
<body>

    <h2>Our address</h2>
    
    <iframe 
        id="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.9999988317324!2d2.2944815156742273!3d48.85884407928737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fefc8eec9cd%3A0x421bd55a9574aa4d!2sEiffel%20Tower!5e0!3m2!1szh-CN!2sus!4v1632488241589!5m2!1szh-CN!2sus"
        width="100%" height="500" allowfullscreen="" loading="lazy">
    </iframe>

</body>
</html>
