{% extends 'layout.html' %}
{% load static %}
{% block title %} The Fashion Atelier - Home{% endblock %}
{% block body %}
    
<div class="wraper">
<div class="page-content-wraper">
    <!-- Intro -->
    <section id="intro" class="intro"> 


    <!-- New Product -->
    <section class="section-padding">
        <div class="container">
            <h2 class="page-title">New Product</h2>
        </div>
        <div class="container">
            <div id="new-tranding" class="product-item-4 owl-carousel owl-theme nf-carousel-theme1">
                <!-- item.1 -->
                {% for product in new_arrival %}
                <div class="product-item">
                    <div class="product-item-inner">
                        <div class="product-img-wrap sectionimg">
                            <a href="{% url 'show_product' product.id %}"  >
                            <img src="{{ product.image }}" alt="{{ product.product.name }}">
                            
                            </a>
                        </div> 
                        <style>
                        .sectionimg{
                            height: 255px !important;
                            width: 255px !important;
                        }
                        </style>
                         <div class="product-button">
    
                            <a href="{% url 'show_product' product.id %}" class="js_tooltip" data-mode="top" data-tip="Show Product"><i class="fa fa-eye"></i></a>
                        </div> 
                    </div>
                    <div class="product-detail">
                        <a class="tag" href="#">{{ product.product.category.name }}</a>
                        <p class="product-title"><a href="">{{ product.product.name }}</a></p>
                        <div class="product-rating">
                            <!-- Add your rating logic here -->
                            <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                                <span style="width: 60%"></span>
                            </div>
                            <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                        </div>
                        <p class="product-description">
                            {{ product.description }}
                        </p>
                        <h5 class="item-price">
                            {% if 'USD' in request.session.currency %}
                            $ {{ product.product.price_usd|floatformat:2 }}
                        {% else %}
                            ₹ {{ product.product.price_usd|floatformat:2 }}
                        {% endif %}    
                        </h5>
                    </div>
                </div>   {% endfor %}
                <!-- item.2 -->
               

            </div>
        </div>
    </section>

    <!-- Categories -->
    <section class="">
        <div class="section-padding container-fluid bg-image text-center overlay-light90" data-background-img="static/img/bg/bg_5.jpg" data-bg-position-x="center center">
            <div class="container">
                <h2 class="page-title">Shop by Categories</h2>
            </div>
        </div>
        <div class="container container-margin-minus-t">
            <div class="row">
                <div class="col-md-4">
                    <div class="categories-box">
                        <div class="categories-image-wrap">
                            <img src="static/img/categories/man4.jpg" width="500" height="500 " alt="" />
                        </div>
                        <div class="categories-content">
                            <a href="/men">
                                <div class="categories-caption">
                                    <h3> class="normal">Men</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="categories-box">
                        <div class="categories-image-wrap">
                            <img src="static/img/categories/women3.png" width="500" height="500 " alt="" />
                        </div>
                        <div class="categories-content">
                            <a href="/woman/">
                                <div class="categories-caption">
                                    <h3> class="normal">Women</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="categories-box">
                        <div class="categories-image-wrap">
                            <img src="static/img/categories/kids3.jpg" width="500" height="500 " alt="" />
                        </div>
                        <div class="categories-content">
                            <a href="/kids">
                                <div class="categories-caption">
                                    <h3>class="normal">Kids</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
              
            </div>
        </div>
    </section>
    <!-- End Categories -->

    <section class="section-padding">
        <div class="container">
            <h2 class="page-title">New Tranding</h2>
        </div>
        <div class="container">
            <div id="new-tranding" class="product-item-4 owl-carousel owl-theme nf-carousel-theme1">
                <!-- item.1 -->
                {% for product in popular_products %}
                <div class="product-item">
                    <div class="product-item-inner">
                        <div class="product-img-wrap sectionimg">
                            <a href="{% url 'show_product' product.id %}"  >
                            <img src="{{ product.image }}" alt="{{ product.product.name }}">
                            </a>
                        </div>
                        <style>
                            .sectionimg{
                                height: 255px !important;
                                width: 255px !important;
                            }
                            </style>
                     <div class="product-button">
                         
                            <a href="{% url 'show_product' product.id %}" class="js_tooltip" data-mode="top" data-tip="Show Product"><i class="fa fa-eye"></i></a>
                        </div> 
                    </div>
                    <div class="product-detail">
                        <a class="tag" href="#">{{ product.product.category.name }}</a>
                        <p class="product-title"><a href="">{{ product.product.name }}</a></p>
                        <div class="product-rating">
                            <!-- Add your rating logic here -->
                            <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                                <span style="width: 60%"></span>
                            </div>
                            <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                        </div>
                        <p class="product-description">
                            {{ product.description }}
                        </p>
                     
                        <h5 class="item-price">
                            {% if 'USD' in request.session.currency %}
                            $ {{ product.product.price_usd|floatformat:2 }}
                        {% else %}
                            ₹ {{ product.product.price_usd|floatformat:2 }}
                        {% endif %}
                        </h5>
                    </div>
                </div>   {% endfor %}
                <!-- item.2 -->
               

            </div>
        </div>
    </section>
    <!-- End New Product -->


    
    <!-- Brnad Logo -->
    {% comment %} <section id="brand-logo" class="section-padding brand-logo">
        <div class="container">
            <ul class="list-none-ib brand-logo-carousel owl-carousel owl-theme">
                <li class="brand-item"><a href="#">
                    <img src="static/img/logo/01.png" alt="nileforest" />
                </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/02.png" alt="niletheme" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/03.png" alt="nile" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/04.png" alt="forest" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/05.png" alt="themeforest" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/06.png" alt="woocommerce" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/07.png" alt="ecommerce" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/08.png" alt="html" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/09.png" alt="multiprapose" />
                    </a>
                </li>

            </ul>

        </div>
    </section> {% endcomment %}
    <!-- End Brnad Logo -->

</div>
</div>
{% endblock %}
